@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #181818;

  --zinc-100: #ededed;
  --zinc-400: #888888;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  .h1 {
    @apply text-4xl sm:text-5xl lg:text-6xl font-bold text-(--zinc-100);
  }
  .h2 {
    @apply text-(--zinc-400) text-xl sm:text-2xl;
  }

  .h3 {
    @apply text-(--zinc-400) text-lg sm:text-xl;
  }

  .caption {
    @apply text-base sm:text-lg;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .flex-align-center {
    @apply flex items-center;
  }
  .app-container {
    @apply w-full mx-auto max-w-7xl px-4 sm:px-6 md:px-8 lg:px-10;
  }
  .hero-desc {
    @apply text-center mx-auto mt-2 text-(--zinc-400) text-base sm:text-lg max-w-2xl;
  }
  .hero-actions {
    @apply flex flex-col sm:flex-row items-center justify-center gap-4 mt-8;
  }
  .hero-preview {
    @apply relative mt-12 w-full sm:w-[80%] max-w-5xl rounded-2xl overflow-hidden aspect-video mx-auto;
  }
  .nav-header {
    @apply fixed top-5 inset-x-0 z-50 mx-auto w-[92%] sm:w-[85%] md:w-[75%] lg:w-[60%] xl:w-[40%] max-w-3xl bg-[#303030] backdrop-blur-md rounded-[29px] px-4 sm:px-6 py-3;
  }
  .nav-link {
    @apply text-(--zinc-100) py-2;
  }
  .nav-btn {
    @apply items-center justify-center px-5 py-3 font-semibold text-(--zinc-100) bg-black/60 rounded-full whitespace-nowrap;
  }
}

@layer components {
}
